name: YARD Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  yard:
    name: YARD Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4' # FIXME: Yard is not compatible yet with Ruby 4.0. Ref: lsegal/yard#1636
          bundler-cache: true
          rubygems: latest
      - name: Lint YARD documentation
        run: bundle exec yard doc --fail-on-warning --no-output --no-progress
